.base {
  font-family: var(--font-poppins);
  color: var(--text-primary);
}

.thin {
  font-weight: 500;
}

.thick {
  font-weight: 600;
}

.sm {
  font-size: 0.75rem;
  line-height: calc(1 / 0.75);
}

.base {
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
}

.base.isMuted {
  color: var(--text-tertiary);
}
