.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltipContent {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0);
  color: var(--text-primary);
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  pointer-events: auto;
  opacity: 0;
  animation: fadeIn 0.15s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Top Positioning */
.tooltipContentTopStart {
  bottom: 100%;
  transform:
    translateX(var(--align-offset))
    translateY(calc(-1 * var(--side-offset)));
}

.tooltipContentTopCenter {
  bottom: 100%;
  left: 100%;
  transform:
    translateX(calc(-1/2 * var(--trigger-width) - 50% + var(--align-offset)))
    translateY(calc(-1 * var(--side-offset)));
}

.tooltipContentTopEnd {
  bottom: 100%;
  left: 100%;
  transform:
    translateX(calc(-100% + var(--align-offset)))
    translateY(calc(-1 * var(--side-offset)));
}

/* Bottom Positioning*/
.tooltipContentBottomStart {
  top: 100%;
  transform:
    translateX(var(--align-offset))
    translateY(var(--side-offset));
}

.tooltipContentBottomCenter {
  top: 100%;
  left: 100%;
  transform:
    translateX(calc(-1/2 * var(--trigger-width) - 50% + var(--align-offset)))
    translateY(var(--side-offset));
}

.tooltipContentBottomEnd {
  top: 100%;
  left: 100%;
  transform:
    translateX(calc(-100% + var(--align-offset)))
    translateY(var(--side-offset));
}

/* Right Positioning*/
.tooltipContentRightStart {
  bottom: 100%;
  left: 100%;
  transform:
    translateX(var(--side-offset))
    translateY(calc(100% + var(--align-offset)));
}

.tooltipContentRightCenter {
  left: 100%;
  top: 100%;
  transform:
    translateX(var(--side-offset))
    translateY(calc(-1/2 * var(--trigger-height) - 50% + var(--align-offset)));
}

.tooltipContentRightEnd {
  left: 100%;
  top: 100%;
  transform:
    translateX(var(--side-offset))
    translateY(calc(-100% + var(--align-offset)));
}

/* Left Positioning */
.tooltipContentLeftStart {
  right: 100%;
  bottom: 100%;
  transform:
    translateX(calc(-1 * var(--side-offset)))
    translateY(calc(100% + var(--align-offset)));
}

.tooltipContentLeftCenter {
  right: 100%;
  top: 100%;
  transform:
    translateX(calc(-1 * var(--side-offset)))
    translateY(calc(-1/2 * var(--trigger-height) - 50% + var(--align-offset)));
}

.tooltipContentLeftEnd {
  right: 100%;
  top: 100%;
  transform:
    translateX(calc(-1 * var(--side-offset)))
    translateY(calc(-100% + var(--align-offset)));
}
