.teamsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 7rem;
}

.teamButton {
  background-color: var(--accent-primary);
  transition: background-color 0.15s;
}

.teasmButton:hover {
  background-color: var(--accent-primary-hover);
}