.dialogContainer {
  position: relative;
  display: inline-block;
}

.dialogOverlay {
  position: fixed;
  z-index: 100;
  inset: 0;
  background-color: rgb(21, 21, 21);
  opacity: 0.8;
  animation: fadeIn 0.15s;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.dialogContent {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
  min-width: 20rem;
  max-width: 90vw;
  width: auto;
  border: 1px solid var(--border);
  border-radius: 1rem;
  box-shadow: 0 24px 24px rgba(0,0,0,0.15);
  background-color: var(--background);
  padding: 1.5rem;
}

.dialogClose {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  border-radius: 2px;
  color: var(--text-tertiary);
}